.dd-progress_bar {
    height: 10px;
    border: solid 1px #ccc;
    background: #888;
}
.dd-browser {
    border: dashed 1px #888;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    width: 100%;
}
.dd-callback__item {
    margin: 5px 0;
    border-bottom: 1px dashed #888;
    padding: 10px 0;
}
.dd-callback__item:last-of-type {
    border-bottom: 0;
    padding-bottom: 0;
}
.dd-preview_input {
     width: 370px; 
     margin: 5px 0; 
     padding: 3px;
 }

.dd-completed .dd-progress_bar{
    display: none;
}
.dd-preview {
    margin-top: 5px;
}
.dd-preview-image {
    margin-bottom: 5px;
}