.modal-content {
    height: 500px;
}
.ace__item--editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.ace__item--body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}
.modal-header {
    background-color: #8e8e8e;
    border-bottom: 0;
    border-radius: 0;
}
.modal-header .close {
    padding: 0;
    margin: 0;
}
.close {
    font-size: 13px;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    opacity: 1;
    line-height: 1.5;
}
.btn-download {
    padding: .25rem 1rem;
    font-size: 0.8125rem;
    color: #fff;
    background-color: #837f80;
    border-color: #837f80;
}
.btn-download:hover {
    color: #fff;
}
.btn-download:hover {
    color: #fff;
}
.btn-download-resource {
    padding: 0.25rem 1rem 0.15rem 1rem;
    font-size: 0.8125rem;
    color: #12494b;
    background-color: #2bc389;
    border-color: #2bc389;
	border-radius: 6px;
}
.btn-download-resource:hover {
    color: #12494b;
}
.card-header-lesson-detail {
	border-radius: 0 !important;
    border-top: 1px solid #bca9af;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}
.card-header-lesson-detail img {
	height: 25px;
    margin-right: 5px;
}