.StripeElement{
  padding: 5px 13px;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-holder{
    border: solid 1px #abaaaa;
}

.card-element {
    margin: 2px 0 3px;
    color: #dc3545;
}