@charset "utf-8";

#mainContents {
	margin-top: -1rem;
}
#mainContents .bkgFrameCommon .boxPrivacy{
	padding: 10px 20px;
}
#mainContents .bkgFrameCommon  h3{
	font-size:18px;
	line-height:30px;
	padding-bottom:20px;
}
#mainContents .bkgFrameCommon .txtPrivacy{
	padding: 0 0 10px 0;
}
.ttlCommon {
	border-bottom: 1px solid #bca9af;
	font-size: 0.875rem;
	font-weight: bold;
	padding: 10px 20px;
}