@media only screen and (max-width: 768px) {
    .fields-left, .fields-right {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.blog-group .blog {
	    display: block; 
	}
	.blog-group .col-md-6 {
	    flex: 1;
	}
	.hidden-xs {
		display: none;
	}
}