@charset "utf-8";
html, body {
    overflow-x:hidden !important;
    width:100%;
    margin: 0;
    padding: 0;
}
.navbar-brand {
	padding-bottom: 0;
	padding-top: 0;
}
.navbar-brand .img-logo {
	height: 30px;
}
.nav-item-user .dropdown-toggle::after {
    margin-left: 0;
    position: relative;
}
.old-bv {
	font-size: 11px;
}
.pr-5, .px-5 {
    padding-right: 10px!important;
}
.pl-5, .px-5 {
    padding-left: 10px!important;
}
.box-sp {
	margin-bottom: 20px;
}
.box-panel-yt {
	background-image: url("/img/panel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 230px;
}
.box-yt {
	height: 211px;
}
.row .container-fluid.container-divider .divider {
    margin-top: 20px;
}
.top--caption {
    display: block;
    height:230px;
    line-height:230px;
    padding: 0;
}
.top--caption__text {
    display: inline-block;
    line-height: normal;
    margin-bottom: 10px;
    vertical-align: middle;
    width: 100%;
}

.box .card .card-body .row .card-sign {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}
.box-panel-language {
	/*background-color: #1993FC;*/
    background: linear-gradient(to bottom, #3CDFFF, #0372EB);
}
.card-panel-language {
	background: linear-gradient(to bottom, #3CDFFF, #0372EB);
}
.card-body-language-left {
	width: 70%;
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
}
.card-body-language-right {
	width: 30%;
	/*margin-top: -30px*/
}
.card-img-app, .card-img-objective_c, .card-img-swift {
	width: 34px;
}
.card-language-btn {
	width: 95%;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
.card-language-text {
	text-align: center;
	font-size: 12px;
    width: 245px;
    margin: 0 auto;
    margin-top: 10px;
}
.card-language-text .card-text {
	text-align: left;
}
.card-right-img-980 {
	display: block;
    /*margin-left: 30px;*/
}
.card-img-980 {
	width: 110px;
}
.card-text-name {
	height: 36px;
    margin-bottom: 10px;
    overflow: hidden;
}
.input-group-difficulty, .input-group-category {
	margin-bottom: 1rem;
}
.card-img-overlay {
	/*padding-top: 0.8rem;
    padding-bottom: 0.8rem;*/
}
.card-text-sign.last {
	margin-bottom: 1.2rem !important;
}
.box .card .card-text-header {
    font-size: 20px !important;
}
.box .card .card-body .row .card-sign .card-text-sign {
    font-size: 16px !important;
    color: #4a4949;
}
.col-lesson {
    margin-top: 0px;
}
.col-lesson-item .card-body {
	padding-top: 0px;
}
.card-video-list {
	margin-top: 20px;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.card-login, .card-login-social {
    min-height: 243px;
}
.card-register, .card-register-social {
    min-height: 274px;
}
.btn-facebook span:first-child {
    margin-left: 10px;
}
.footer-container-left {
	padding-left: 0px;
	padding-right: 0px;
}
.footer .title-widget {
    font-size: 0.8125rem;
    margin-bottom: 1rem;
}
@media (min-width: 768px) {
  	.col-lesson.col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
  	    flex: 0 0 20%;
  	    max-width: 20%;
  	}
}
@media (max-width: 991.98px) {
    .tab-pane-user.row {
        margin: 0 auto;
    }
    .box .card .btn-request .btn-to-complete {
        margin-bottom: 5px;
    }
    .box .card .btn-request .btn-sorce-conformation {
        margin-bottom: 5px;
    }
    .box .card .btn-prev {
        margin-bottom: 5px;
    }
}
@media (max-width: 767.98px) {
    .col-lesson.col-sm-6 {
         -webkit-box-flex: 0;
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;
         padding-left:8px;
         padding-right:8px;
     }
    .box .card .card-body .row .card-sign .card-sign-button {
        font-size: 0.8125rem;
        margin-top: 0 !important;
    }
    .box .card .card-body .row .card-sign .card-sign-button img {
        height: 40px;
    }
    .box .card-body .row .card-video {
        display: none;
    }
    .card-sign-button {
        padding: 1% 6% 1% 6%;
    }
}
@media (max-width: 991.98px) {
	#navbarheaders {
        border-top: 1px solid #bca9af;
        margin-top: 0.5rem;
    }
    .box .card .card-body .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .box .card-body .row p {
        margin-bottom: 0.2rem;
    }
    .box .card .card-body .row .card-sign .card-sign-button {
        font-size: 0.8125rem;
        margin-top: 5%;
    }
    .box .card-body .row .card-video {
        display: none;
    }
    .box-panel .card .card-body {
        padding: 0;
    }
    .box-panel .card .card-body .card-sign-button img {
        width: 260px;
    }
}
.img-diamond {
    width: 30px;
    max-width: 40px;
    height: auto;
}
.img-logo {
    height: 45px;
}

.row-resource {
	/*padding-top: 20px;*/
	padding-bottom: 20px;
}

.list-group-item-lesson {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #bca9af;
    border-radius: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.col-lesson .card-img-video {
    border-radius: 0;
    display: block;
    height: 100px;
    width: 100%;
    object-fit: contain;
    vertical-align: top;
}

.carousel-item {
    height: 211px;
    overflow: hidden;
}
.lesson_detail--voice {
    font-size: 11px !important;
    font-weight: bold;
}
.bg-button-to-complete,
.bg-button-user-diamond {
    margin-right: 3px;
}
.lesson_detail--voice {
    padding: 5px 4px 5px 8px !important;
    margin-right: 6px !important;
}
.lesson_detail--voice.lesson_detail--voice__female {
    margin-right: 0;
    padding-right: 8px !important;
}
.new_free_info {
	display: block;
    height: 24px;
    margin-bottom: 2px;
    overflow: hidden;
}
.lession--item {
    height: 100%;
    display: table;
}
.lession--item__image {
    width: 120px;
    height: 100%;
    margin: 0 10px 0 0;
    float: left;
}
.lesson--item__learning_count {
    margin: 5px 0 0 10px;
    width: 120px;
    float: left;
}
.lesson--item__content {
    display: table-cell;
    vertical-align: middle;
    text-align:left;
}
.lesson--item__my_styding {
    display: block;
    margin-left: 10px;
}
.lesson--item__my_styding_finish {
    text-align: right;
    margin: 5px 10px 0 10px;
    width: 120px;
    float: right;
}
.img-party {
    width: 23px;
    max-width: 23px;
    height: auto;
}
