@charset "utf-8";
.navbar-brand {
	padding-bottom: 0;
	padding-top: 0;
}
.navbar-brand .img-logo {
	height: 23px;
}
.nav-item-user .dropdown-toggle::after {
    margin-left: 0;
    position: relative;
}
.old-bv {
	font-size: 11px;
}
.pr-5, .px-5 {
    padding-right: 10px!important;
}
.pl-5, .px-5 {
    padding-left: 10px!important;
}
.box-sp {
	margin-bottom: 20px;
}
.box-panel-yt {
	background-image: url("/img/panel.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 198px;
}
.box-yt {
	height: 211px;
}
.row .container-fluid.container-divider .divider {
    margin-top: 20px;
}
.card-body-text {
	padding-top: 0px !important;
}
.box .card .card-body .row .card-sign {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}
.box-panel-language {
	/*height: 138px;*/
	background-color: #1993FC;
	padding-top: 30px;
	padding-bottom: 30px;
}
.card-panel-language {
	background-color: #1993FC;
}
.card-body-language-left {
	width: 70%;
    text-align: center;
}
.card-body-language-right {
	width: 30%;
	margin-top: -30px
}
.card-img-app, .card-img-objective_c, .card-img-swift {
	width: 34px;
}
.card-language-btn {
	width: 95%;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
.card-language-text {
	text-align: center;
	font-size: 12px;
    width: 245px;
    margin: 0 auto;
    margin-top: 10px;
}
.card-language-text .card-text {
	text-align: left;
}
.card-right-img-980 {
	display: block;
    /*margin-left: 30px;*/
}
.card-img-980 {
	width: 110px;
}
.card-text-name {
	height: 36px;
}
.input-group-difficulty, .input-group-category {
	margin-bottom: 1rem;
}
.card-img-overlay {
	/*padding-top: 0.8rem;
    padding-bottom: 0.8rem;*/
}
.card-text-sign.last {
	margin-bottom: 0.7rem !important;
}
.box .card .card-text-header {
    font-size: 20px !important;
    margin-top: -4px !important;
}
.box .card .card-body .row .card-sign .card-text-sign {
    font-size: 16px !important;
    color: #4a4949;
}
.col-lesson {
    margin-top: 0px;
}
.card-video-list {
	margin-top: 20px;
}
.card-login, .card-login-social {
    min-height: 243px;
}
.card-register, .card-register-social {
    min-height: 274px;
}
.btn-facebook span:first-child {
    margin-left: 10px;
}
.footer-container-left {
	padding-left: 0px;
	padding-right: 0px;
}
@media (min-width: 768px) {
  	.col-lesson.col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
  	    flex: 0 0 20%;
  	    max-width: 20%;
  	}
}
@media (max-width: 991.98px) {
    .tab-pane-user.row {
        margin: 0 auto;
    }
    .box .card .btn-request .btn-to-complete {
        margin-bottom: 5px;
    }
    .box .card .btn-request .btn-sorce-conformation {
        margin-bottom: 5px;
    }
    .box .card .btn-prev {
        margin-bottom: 5px;
    }
}
@media (max-width: 767.98px) {
    .col-lesson.col-sm-6 {
         -webkit-box-flex: 0;
         -ms-flex: 0 0 50%;
         flex: 0 0 50%;
         max-width: 50%;
     }
    .box .card .card-body .row .card-sign .card-sign-button {
        font-size: 0.8125rem;
        margin-top: 0 !important;
    }
    .box .card .card-body .row .card-sign .card-sign-button img {
        height: 40px;
    }
    .box .card-body .row .card-video {
        display: none;
    }
    .card-sign-button {
        padding: 1% 6% 1% 6%;
    }
}
@media (max-width: 991.98px) {
	#navbarheaders {
        border-top: 1px solid #bca9af;
        margin-top: 0.5rem;
    }
    .box .card .card-body .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .box .card-body .row p {
        margin-bottom: 0.2rem;
    }
    .box .card .card-body .row .card-sign .card-sign-button {
        font-size: 0.8125rem;
        margin-top: 5%;
    }
    .box .card-body .row .card-video {
        display: none;
    }
    .box-panel .card .card-body {
        padding: 0;
    }
    .box-panel .card .card-body .card-sign-button img {
        width: 260px;
    }
}
