@charset "utf-8";
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS P Gothic",Verdana,sans-serif;
    font-size: 0.75rem;
}
#content {
}
.content {
    min-height: 50vh;
}
.form-inline {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.form-control {
    font-size: 0.75rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #0090ff !important;
}
.nav-pills .nav-link {
    border-radius: 0;
    border-right: 0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #ffffff;
}
.nav-link-header-title {
    vertical-align: bottom;
}
.nav-item-user .dropdown-toggle::after {
    margin-left: -0.4em;
    position: absolute;
}
.dropdown-menu {
	border-color: #abaaaa;
}
.row .container-fluid.container-divider .divider {
    width: 100%;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #bca9af;
}
/*.row .container-fluid.container-divider:last-child .divider {
    border: none;
}*/
.ttlCommon {
    font-size: 0.875rem;
    font-size: 0.75rem;
    padding: 10px 20px;
    border-bottom: 1px solid #bca9af;
    font-weight: bold;
}
.required {
    color: #fa283c;
}
#v-pills-tabContent .btn, .nav-pills .btn, .form-c .btn, .btn {
    font-size: 0.75rem;
}
.btn-line {
    color: #fff;
    background-color: #04e734;
    border-color: #04e734;
    border-radius: 6px;
    padding-bottom: 2px;
}
.btn-line:hover {
    color: #fff;
    background-color: #00E000;
    border-color: #00E000;
}
.btn-twitter {
    display: table;
    padding: 0;
    color: #fff;
    background-color: #1da1f3;
    border-radius: 5px;
}
.btn-twitter span img {
    width: 19px;
    display: inline-block;
}
.btn-twitter .btn-twitter-label {
    display: table-cell;
    text-align: left;
    width: 75%;
    background-color: #1da1f3;
}
.btn-twitter:hover {
    color: #fff;
}
.btn-facebook {
	display: flex;
    align-items: end;
    color: #fff;
    background-color: #3b579d;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 9px;
}
.btn-facebook span:first-child {
	margin-top: -2px;
}
.btn-facebook span img {
	vertical-align: top;
    width: 12px;
    display: inline-block;
}
.btn-facebook .btn-facebook-label {
    /*display: table-cell;
    text-align: left;*/
    width: 90%;
    background-color: #3b579d;
}
.btn-facebook:hover {
    color: #fff;
}
.btn-yahoo {
    display: table;
    padding: 0;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ff0033;
    border-radius: 5px;
}
.btn-yahoo span img {
	/*vertical-align: baseline;*/
    width: 20px;
    display: inline-block;
}
.btn-yahoo .btn-yahoo-label {
    display: table-cell;
    width: 75%;
    background-color: #ff0033;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
}
.btn-yahoo:hover {
    color: #fff;
}
.btn-google {
    display: table;
    padding: 0;
    color: #fff;
    background-color: #fff;
    border: 1px solid #93aed6;
    border-radius: 5px;
}
.btn-google span img {
	/*vertical-align: top;*/
    width: 13px;
    display: inline-block;
    padding-bottom: 2px;
}
.btn-google .btn-google-label {
    display: table-cell;
    width: 75%;
    background-color: #4484f3;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
}
.btn-google:hover {
    color: #fff;
}
.card {
    border-color: #abaaaa;
    border-radius: 0;
}
.card-header {
    padding: .75rem .75rem;
    background-color: #ece8e9;
    border-bottom: 1px solid #abaaaa;
}
.card-login, .card-login-social {
    min-height: 323px;
}
.card-register, .card-register-social {
    min-height: 360px;
}
.card-password-forgot, .card-password-forgot-note {
    min-height: 167px;
}
/* TOP
------------------------------------------------------------ */
.box, .box-user, .box-mypage {
    margin-left: -15px;
    margin-right: -15px;
    /*margin-bottom: 30px;*/
}
.box:last-child {
    /*margin-bottom: 0;*/
}
.box .card {
    border: none;
    border-radius: 0;
}
.box.box-panel .card .card-img {
    border-radius: 0;
}
.col-lesson {
    margin-top: 30px;
}

.box-request {
    padding-bottom: 20px;
    padding-top: 20px;
    /*border-bottom: 1px solid #bca9af;*/
}
.box .card .btn-request {
    padding: 0;
    font-size: 0.8125rem;
}
.box .card .card-text-header {
    font-size: 2.5rem;
    padding-bottom: 1%;
    white-space: nowrap;
}
/*.box .card .card-body .row .card-sign {
    margin-top: 12%;
}*/
.box .card .card-body .row .card-sign .card-text-sign {
    font-size: 1.2rem;
    color: #4a4949;
}
.box .card .card-body .row .card-sign .card-sign-button {
    margin-top: 10%;
}
.box .card-lesson-total {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #bca9af;
}
.lession-heading {
	display: flex;
	align-items: center;
    background-color: #dadbdd;
    padding: 0.5rem 1rem;
}
.lession-heading img {
    height: 25px;
}
.lession-heading-url {
    margin-left: auto;
}
.lession-header {
	background-color: #253147;
	color: #fff;
	padding-top: 0.5rem;
	padding-bottom: 0.4rem;
}
.lession-header a {
	color: #fff;
}

.list-group-item-lesson:last-child {
    border-radius: 0;
    border-bottom: none;
}
.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.btn-all-complete {
	background-color: #ff7104;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: .25rem .5rem .15rem .5rem;
    border-radius: .2rem;
}
.form-group-search-lesson {
	margin-bottom: 0;
	padding: .75rem 1rem;
}
.btn-search {
	background-color: #837f80;
    color: #fff;
    font-size: 0.75rem;
    border-radius: .2rem;
	border-width: 0;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 2px;
    padding-left: .5rem;
    padding-right: .5rem;
}
.btn-search:focus {
    outline: none;
}
.form-control-search {
	margin-right: 10px;
	color: #837f80;
	border-color: #837f80;
	border-radius: 0;
	padding-top: 7px;
    padding-bottom: 5px;
}
.form-control-search:focus {
    outline: none;
    box-shadow: none;
}
.pickup {
	position: absolute;
    z-index: 3;
	background-color: #fd0c56;
    color: #fff;
	padding-top: 4px;
    padding-bottom: 2px;
    padding-left: 25px;
    padding-right: 25px;
}
.card-sign-button {
    background: repeating-linear-gradient(
        -45deg,
        #49a9bb,
        #49a9bb 5px,
        #4fafc1 5px,
        #4fafc1 10px
    );
    color: #fff;
    border-radius: 10px;
    padding: 3% 10% 2% 10%;
    border: 4px solid #2da7be;
    margin: 0 0 0 0;
    /*-webkit-box-shadow: 0 10px 16px 0 #acabab,0 6px 20px 0 #acabab;
            box-shadow: 0 10px 16px 0 #acabab,0 6px 20px 0 #acabab;*/
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
}
.card-sign-button:hover {
    text-decoration: none;
    color: #fff;
}
.lesson_href {
    position: relative;
}
.play-btn {
	width: 30px;
	height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.col-lesson .card a:hover path:first-child {
	fill: #FC0D1B;
}
.card-body-thumbnail .card a:hover path:first-child {
 	fill: #FC0D1B;
}
/* lESSON
------------------------------------------------------------ */
.box-lesson {
    /*min-height: 100vh;*/
    background-color: #f5f3f3;
}
.box-lesson .list-group .list-group-item {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #bca9af;
    border-radius: 0;
}
.img-lesson-btn-play, .img-lesson-avatar {
    max-width: 25px;
    max-height: 25px;
    margin-right: 2px;
}
.lession-nar {
    background-color: #ece8e9;
    padding-top: .65rem;
    padding-bottom: .64rem;
}
/* Stripe
------------------------------------------------------------ */
.card-header-upgrade {
	display: flex;
	align-items: center;
	justify-content: center
}
.form-group-stripe {
    border-bottom: 1px solid #bca9af;
}
/* mypage
------------------------------------------------------------ */
.card.card-mypage .card-body {
    height: 172px;
}
.bg-nav-link {
    background: repeating-linear-gradient(
        -45deg,
        #f9dbb0,
        #f9dbb0 5px,
        #e6c89d 5px,
        #e6c89d 10px
    );
    border: 2px solid #fbc276;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    text-align: center;
    color: #000 !important;
    padding-top: 0.6rem;
	padding-bottom: 6px;
}
.bg-button, .bg-button:not(:disabled):not(.disabled).active, .bg-button:not(:disabled):not(.disabled):active {
    background: repeating-linear-gradient(
        -45deg,
        #b1a9fe,
        #b1a9fe 5px,
        #9d95ea 5px,
        #9d95ea 10px
    );
    border: 2px solid #a689fb;
    border-radius: 6px !important;
    text-align: center;
    color: #fff !important;
	font-size: 0.75rem;
    padding-top: .3rem;
    padding-bottom: 2px;
    display: inline-block;
    cursor: pointer;
}
.bg-button-source-confirmation {
	display: inline-block;
    background: repeating-linear-gradient(
        -45deg,
        #f9dbb0,
        #f9dbb0 5px,
        #e6c89d 5px,
        #e6c89d 10px
    );
    border: 2px solid #fbc276;
    text-align: center;
    text-decoration: none;
    color: #212529 !important;
    font-size: 10px;
    font-weight: bold;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: 3px;
	padding-bottom: 1px;
    border-radius: .2rem;
}
.bg-button-to-complete {
	display: inline-block;
    background: repeating-linear-gradient(
        -45deg,
        #bababa,
        #bababa 5px,
        #acacac 5px,
        #acacac 10px
    );
    border: 2px solid #acacac;
    text-align: center;
    text-decoration: none;
    color: #212529 !important;
	font-size: 10px;
    font-weight: bold;
    padding-left: 0.82rem;
    padding-right: 0.82rem;
    padding-top: 2px;
    padding-bottom: 1px;
    border-radius: .2rem;
}
.bg-button-complete {
	display: inline-block;
    background: repeating-linear-gradient(
        -45deg,
        #27e9fb,
        #27e9fb 5px,
        #24dced 5px,
        #24dced 10px
    );
    border: 2px solid #24dced;
    text-align: center;
    text-decoration: none;
    color: #212529 !important;
    font-size: 10px;
    font-weight: bold;
    padding-left: 1.44rem;
    padding-right: 1.44rem;
	padding-top: 2px;
    padding-bottom: 1px;
}
.bg-button-user-diamond {
	display: inline-block;
    background: repeating-linear-gradient(
        -45deg,
        #b5adff,
        #b5adff 5px,
        #9b93e7 5px,
        #9b93e7 10px
    );
    border: 2px solid #ae90fe;
    text-align: center;
    color: #fff !important;
    font-size: 10px;
    font-weight: bold;
    padding-left: .5rem;
    padding-right: .5rem;
	padding-top: 2px;
    padding-bottom: 1px;
}
.bg-button-source-confirmation:hover,
.bg-button-to-complete:hover,
.bg-button-complete:hover {
	text-decoration: none;
}
.bg-button-paginate, .bg-button-paginate:hover {
	display: inline-block;
	background-color: #837F80;
	color: #fff;
	border: none;
    border-radius: 0;
    font-size: 10px;
    text-decoration: none;
}
.bg-button-setting-video, .bg-button-setting-video:hover {
    display: inline-block;
    background-color: #27e9fb;
    color: #212529;
    border: none;
    border-radius: 0;
    font-size: 10px;
	font-weight: bold;
    text-decoration: none;
}
.input-group-difficulty select, .input-group-category select {
	color: #837f80;
	border-color: #837f80;
}
.input-group-difficulty select:focus, .input-group-category select:focus {
	outline: none;
}
/* BREADCRUMB
------------------------------------------------------------ */
.breadcrumb {
    background-color: #ece8e9;
}
/* HEADER
------------------------------------------------------------ */
.old-bv {
    background-color: #263147;
}
.img-video {
    width: 23px;
    max-width: 23px;
    height: auto;
    vertical-align: -webkit-baseline-middle;
}
.img-user {
    width: 23px;
    max-width: 23px;
    height: auto;
    vertical-align: -webkit-baseline-middle;
}
.img-party {
    width: 23px;
    max-width: 23px;
    height: auto;
}
.img-logout {
    width: 23px;
    max-width: 23px;
    height: auto;
    vertical-align: bottom;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
    color: #fff;
    bottom: 0;
    width: 100%;
    background: url(/img/bg_footer.png) 0 0 repeat;
    background-size: cover;
}
.footer .row {
    margin-right: auto;
    margin-left: auto;
}
.footer-container-left {
    margin: auto;
}
.footer .title-widget {
    font-size: 0.8125rem;
}
.footer hr {
    border-top: 1px solid #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.footer a {
    color: #fff;
}
.player {
    width:100%;
}
.player-yt {
	width: 640px;
    /*height: 360px;*/
    margin: 0 auto;
}
.hidden {
    display: none;
}
.mypage--notification {
    height: 16px;
    margin-bottom: 0.75rem;
    overflow: hidden;
}
.button-charge {
	width: 100%;
    color: #fff;
    padding-top: 2px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tab-content.tab-content-resource {
	padding-top: 20px;
	padding-bottom: 20px;
}
.row-resource .img-file {
	height: 27px;
	margin-right: 5px;
	padding-bottom: 1px;
}
.resource-primary {
	position: relative;
    padding: .7rem 1.25rem .5rem 1.25rem;
    background-color: #253147;
    color: #fff;
}
.resource-primary img {
	height: 25px;
    margin-right: 5px;
    padding-bottom:3px;
}