@charset "utf-8";
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS P Gothic",Verdana,sans-serif;
    font-size: 0.8125rem;
}
#content {
    /*margin-top: -1rem;*/
}
.form-inline {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.form-control {
    font-size: 0.8125rem;
}
.navbar-light .navbar-nav .nav-link {
    color: #0090ff !important;
}
.nav-pills .nav-link {
    border-radius: 0;
    border-right: 0;
}
@media (max-width: 992px) {
    #navbarheaders {
        border-top: 1px solid #bca9af;
        margin-top: 0.5rem;
    }
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    /*color: #808080;*/
    background-color: #ffffff;
    /*border: 1px solid #ddd;
    border-right-color: transparent;*/
}
.nav-link-header-title {
    vertical-align: bottom;
}
.nav-item-user .dropdown-toggle::after {
    margin-left: -0.4em;
    position: absolute;
}
.ttlCommon {
    font-size: 0.875rem;
    padding: 10px 20px;
    border-bottom: 1px solid #bca9af;
    font-weight: bold;
}
.required {
    color: #fa283c;
}
#v-pills-tabContent .btn, .nav-pills .btn, .form-c .btn {
    font-size: 0.8125rem;
}
.btn-line {
    color: #fff;
    background-color: #04e734;
    border-color: #04e734;
    border-radius: 6px;
}
.btn-line:hover {
    color: #fff;
    background-color: #00E000;
    border-color: #00E000;
}
.btn-twitter {
    display: table;
    padding: 0;
    color: #fff;
    background-color: #1da1f3;
    border-radius: 5px;
}
.btn-twitter span img {
    display: inline-block;
}
.btn-twitter .btn-twitter-label {
    display: table-cell;
    text-align: left;
    width: 75%;
    background-color: #1da1f3;
    padding-top: .375rem;
    padding-bottom: .375rem;
}
.btn-twitter:hover {
    color: #fff;
}
.btn-facebook {
    display: table;
    padding: 0;
    color: #fff;
    background-color: #3b579d;
    border-radius: 5px;
}
.btn-facebook span img {
    display: inline-block;
}
.btn-facebook .btn-facebook-label {
    display: table-cell;
    text-align: left;
    width: 75%;
    background-color: #3b579d;
    padding-top: .375rem;
    padding-bottom: .375rem;
}
.btn-facebook:hover {
    color: #fff;
}
.btn-yahoo {
    display: table;
    padding: 0;
    color: #fff;
    background-color: #fff;
    border: 1px solid #ff0033;
    border-radius: 5px;
}
.btn-yahoo span img {
    display: inline-block;
}
.btn-yahoo .btn-yahoo-label {
    display: table-cell;
    width: 75%;
    background-color: #ff0033;
    padding: .375rem .75rem;
}
.btn-yahoo:hover {
    color: #fff;
}
.btn-google {
    display: table;
    padding: 0;
    color: #fff;
    background-color: #fff;
    border: 1px solid #93aed6;
    border-radius: 5px;
}
.btn-google span img {
    display: inline-block;
}
.btn-google .btn-google-label {
    display: table-cell;
    width: 75%;
    background-color: #4484f3;
    padding: .375rem .75rem;
}
.btn-google:hover {
    color: #fff;
}
.card {
    border-color: #abaaaa;
    border-radius: 0;
}
.card-header {
    background-color: #ece8e9;
    border-bottom: 1px solid #abaaaa;
}
/* TOP
------------------------------------------------------------ */
.box {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
}
.box:last-child {
    margin-bottom: 0;
}
.box .card {
    border: none;
    border-radius: 0;
}
.box.box-panel .card .card-img {
    border-radius: 0;
}
.col-lesson {
    margin-top: 30px;
}
.col-lesson .card-img-video {
    border-radius: 0;
    height: 134px;
}
.col-lesson .card-text-name {
    height: 74px;
}
@media (min-width: 992px) {
	.col-lesson.col-lg-3 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}
}
@media (min-width: 768px) {
	.col-lesson.col-md-3 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}
}
@media (max-width: 575.98px) {
	.col-lesson.col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .pr-5, .px-5 {
        padding-right: 1rem!important;
    }
    .pl-5, .px-5 {
        padding-left: 1rem!important;
    }
}
.box-request {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #bca9af;
}
.box .card .btn-request {
    padding: 0;
    font-size: 0.8125rem;
}
.box .card .btn-request .btn-to-complete {
    /*border: 2px solid #dfdfe0;
    max-width: 105px;*/
}
.box .card .btn-request .btn-sorce-conformation {
    /*border: 2px solid #fbc276;
    max-width: 105px;*/
}
.box .card .btn-request .btn-completion {
    /*border: 2px solid #25dced;
    max-width: 105px;*/
}
.box .card .btn-request .btn-diamond {
    /*border: 2px solid #a689fb;
    max-width: 242px;*/
}
.box .card .card-text-header {
    font-size: 2.5rem;
    /*padding-top: 3%;*/
    padding-bottom: 2%;
    white-space: nowrap;
}
.box .card .card-body .row {
    /*margin-left: 8%;
    margin-right: 8%;*/
}
.box .card .card-body .row .card-sign {
    margin-top: 4%;
}
.box .card .card-body .row .card-sign .card-text-sign {
    font-size: 1.2rem;
    color: #4a4949;
}
.box .card .card-body .row .card-sign .card-sign-button {
    margin-top: 8%;
}
.box .card-lesson-total {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #bca9af;
}
.lession-heading {
    background-color: #f3f4f6;
    padding: 0.5rem 1rem;
}
.lession-heading img {
    height: 30px;
}
.lession-heading-url {
    margin-top: 5px;
}
.pickup {
    max-width: 18%;
    position: absolute;
    right: -12px;
    top: -20px;
}
@media (max-width: 767.98px) {
    .box .card .card-body {
        padding: 0;
    }
    .box .card .card-text-header {
        font-size: 0.8125rem !important;
        margin-bottom: 0;
    }
	.box .card-body .row .card-sign {
        margin-top: 0 !important;
        text-align: center;
    }
    .box .card .card-body .row .card-sign .card-text-sign {
        font-size: 0.8125rem;
        color: #4a4949;
    }
    .box .card .card-body .row .card-sign .card-text-sign.last {
        margin-bottom: 0 !important;
    }
    .box .card .card-body .row .card-sign .card-sign-button {
        font-size: 0.8125rem;
        margin-top: 0;
    }
    .box .card .card-body .row .card-sign .card-sign-button img {
        height: 40px;
    }
    .box .card-body .row .card-video {
        display: none;
    }
}
@media (max-width: 991.98px) {
    .box .card .card-text-header {
        font-size: 1.2rem;
        padding-top: 0;
    }
    .box .card .card-body .row {
        margin-left: 3px;
        margin-right: 3px;
    }
    .box .card-body .row p {
        margin-bottom: 0.2rem;
    }
    .box .card .card-body .row .card-sign {
        text-align: center;
        margin-top: 0;
	}
    .box .card .card-body .row .card-sign .card-text-sign {
        font-size: 0.8125rem;
        color: #4a4949;
    }
    .box .card .card-body .row .card-sign .card-text-sign.last {
        margin-bottom: 1.2rem;
    }
    .box .card .card-body .row .card-sign .card-sign-button {
        font-size: 0.8125rem;
        margin-top: 0;
    }
	.box .card-body .row .card-video {
        display: none;
    }
}
/* lESSON
------------------------------------------------------------ */
.box-lesson {
    min-height: 100vh;
    background-color: #f5f3f3;
}
.box-lesson .list-group .list-group-item {
    margin-bottom: 0;
    border: none;
    border-bottom: 1px solid #bca9af;
    border-radius: 0;
}
.img-lesson-avatar {
    max-width: 28px;
    max-height: 28px;
}
.lession-nar {
    background-color: #ece8e9;
    padding: .75rem 1rem;
}
/* Stripe
------------------------------------------------------------ */
.form-group-stripe {
    border-bottom: 1px solid #bca9af;
}
/* mypage
------------------------------------------------------------ */
.card.card-mypage .card-body {
    height: 172px;
}
.bg-nav-link {
    background: repeating-linear-gradient(
        -45deg,
        #f9dbb0,
        #f9dbb0 5px,
        #e6c89d 5px,
        #e6c89d 10px
    );
    border: 2px solid #fbc276;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    text-align: center;
    color: #000 !important;
}
/* BREADCRUMB
------------------------------------------------------------ */
.breadcrumb {
    background-color: #ece8e9;
}
/* HEADER
------------------------------------------------------------ */
.old-bv {
    background-color: #263147;
}
.img-diamond {
    width: 40px;
    max-width: 40px;
    height: auto;
}
.img-video {
    width: 23px;
    max-width: 23px;
    height: auto;
}
.img-user {
    width: 23px;
    max-width: 23px;
    height: auto;
}
.img-party {
    width: 23px;
    max-width: 23px;
    height: auto;
}
.img-logo {
    height: 30px;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
    color: #fff;
    bottom: 0;
    width: 100%;
    /*background-color: #0d6dc4;*/
    background: url(/img/bg_footer.png) 0 0 repeat;
}
.footer .row {
    margin-right: auto;
    margin-left: auto;
}
.footer-container-left {
    margin: auto;
}
.footer .title-widget {
    font-size: 0.8125rem;
}
.footer hr {
    border-top: 1px solid #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.footer a {
    color: #fff;
}
/* PADDING
------------------------------------------------------------ */
/* PADDING
------------------------------------------------------------ */
.pad_l5 {
	padding-left:5px;
}
.pad_l10 {
	padding-left:10px;
}
.pad_l15 {
	padding-left:15px;
}
.pad_l20 {
	padding-left:20px;
}
.pad_l25 {
	padding-left:25px;
}
.pad_l30 {
	padding-left:30px;
}
.pad_l35 {
	padding-left:35px;
}
.pad_l40 {
	padding-left:40px;
}
.pad_r5 {
	padding-right:5px;
}
.pad_r10 {
	padding-right:10px;
}
.pad_r15 {
	padding-right:15px;
}
.pad_r20 {
	padding-right:20px;
}
.pad_r25 {
	padding-right:25px;
}
.pad_r30 {
	padding-right:30px;
}
.pad_r35 {
	padding-right:35px;
}
.pad_r40 {
	padding-right:40px;
}
.pad_t5 {
	padding-top:5px;
}
.pad_t10 {
	padding-top:10px;
}
.pad_t15 {
	padding-top:15px;
}
.pad_t17 {
    padding-top:17px;
}
.pad_t20 {
	padding-top:20px;
}
.pad_t25 {
	padding-top:25px;
}
.pad_t30 {
	padding-top:30px;
}
.pad_t35 {
	padding-top:35px;
}
.pad_t40 {
	padding-top:40px;
}
.pad_b5 {
	padding-bottom:5px;
}
.pad_b10 {
	padding-bottom:10px;
}
.pad_b15 {
	padding-bottom:15px;
}
.pad_b20 {
	padding-bottom:20px;
}
.pad_b25 {
	padding-bottom:25px;
}
.pad_b30 {
	padding-bottom:30px;
}
.pad_b35 {
	padding-bottom:35px;
}
.pad_b90 {
    padding-bottom: 90px;
}
.pad_b40 {
	padding-bottom:40px;
}
.pad_0 {
	padding:0px;
}
.pad_10 {
	padding:10px;
}
.pad_20 {
	padding:20px;
}
.pad_30 {
	padding:30px;
}
.pad_40 {
	padding:40px;
}
/* MARGIN
------------------------------------------------------------ */
.mar_l5 {
    margin-left:5px;
}
.mar_l10 {
    margin-left:10px;
}
.mar_l15 {
    margin-left:15px;
}
.mar_l20 {
    margin-left:20px;
}
.mar_l25 {
    margin-left:25px;
}
.mar_l30 {
    margin-left:30px;
}
.mar_l35 {
    margin-left:35px;
}
.mar_l40 {
    margin-left:40px;
}
.mar_r5 {
    margin-right:5px;
}
.mar_r10 {
    margin-right:10px;
}
.mar_r15 {
    margin-right:15px;
}
.mar_r20 {
    margin-right:20px;
}
.mar_r25 {
    margin-right:25px;
}
.mar_r30 {
    margin-right:30px;
}
.mar_r35 {
    margin-right:35px;
}
.mar_r40 {
    margin-right:40px;
}
.mar_t5 {
    margin-top:5px;
}
.mar_t10 {
    margin-top:10px;
}
.mar_t15 {
    margin-top:15px;
}
.mar_t20 {
    margin-top:20px;
}
.mar_t25 {
    margin-top:25px;
}
.mar_t30 {
    margin-top:30px;
}
.mar_t35 {
    margin-top:35px;
}
.mar_t38 {
    margin-top:38px;
}
.mar_t40 {
    margin-top:40px;
}
.mar_b0 {
    margin-bottom: 0px;
}
.mar_b5 {
    margin-bottom:5px;
}
.mar_b10 {
    margin-bottom: 10px;
}
.mar_b15 {
    margin-bottom:15px;
}
.mar_b20 {
    margin-bottom:20px;
}
.mar_b25 {
    margin-bottom:25px;
}
.mar_b30 {
    margin-bottom: 30px;
}
.mar_b35 {
    margin-bottom:35px;
}
.mar_b40 {
    margin-bottom:40px;
}
.mar_b50 {
    margin-bottom:50px;
}
.mar_b60 {
    margin-bottom:60px;
}
.player {
    overflow: hidden;
    width:100%;
}
.hidden {
    display: none;
}
