body{
    font-weight: normal;
    line-height: 1;
    font-size: 14px;
}
.content-wrapper {
    padding-top: 2rem;
}
.table td.aside, .table td.side, .table td.desc,.table th {
    background-color: #fdfdfd;
}
.table td.aside, .table td.desc {
    width: 20%;
}
.tb-center td {
    vertical-align: middle !important;
    padding: 6px 8px;
    text-align: center;
}
table th {
    color: #F03C02;
    font-weight: bold;
    padding: 8px;
}
.table td.side, .table td.aside {
    text-align: right;
    vertical-align: middle;
}
.file-input-wrapper input[type=file],
.file-input-wrapper input[type=file]:focus,
.file-input-wrapper input[type=file]:hover {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 99;
    outline: 0;
}
@media screen and (max-width: 767px) {
    div.dataTables_length,
    div.dataTables_filter,
    div.dataTables_info,
    div.dataTables_paginate {
        text-align: center;
    }
}
.hidden {
    display: none;
}
.bootstrap-select .btn {
    background: #fff;
    border: 1px solid #ced4da;
}
table .btn {
    margin-bottom: 5px;
}
.btn-group-sm>.btn, .btn-sm {
    font-size: 12px !important;
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
  content: '';
}
#mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
    content: '';
}
@media (min-width: 992px) {
    #mainNav.fixed-top .sidenav-toggler {
        margin-top: calc(100vh - 40px);
    }
}
.sortable tr:hover {
    cursor: pointer;
}
.statis label {
    font-weight: bold;
}